accelerate
aioboto3
aiohttp
graspologic
hnswlib
nano-vectordb
networkx
ollama
openai
pyvis
tenacity
tiktoken
torch
transformers
xxhash
asyncio
nest-asyncio
fastapi
uvicorn
pydantic
python-dotenv

# lmdeploy[all]
